.my-gallery-section {
  padding: 80px 40px;
  text-align: center;
}


.my-gallery-section h2 {
  font-size: 36px;
  margin-bottom: 10px;
  color: rgb(4, 4, 4);
}

.gallery-intro {
  font-family: Roboto;
  font-weight: 300;
  font-size: 18px;
  color:rgb(49, 49, 49);
  margin-bottom: 40px;
}

a {
  color: rgb(17, 17, 17);
  text-decoration: none;
}

.work-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-auto-flow: dense;
}

.gallery-item {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
  background: none;
  display: block;
}

.gallery-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.gallery-item:hover {
  opacity: 1;
  transform: translateY(-2px);
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48"><circle cx="24" cy="24" r="16" fill="rgba(180,180,255,0.35)"/></svg>') 24 24, pointer;
}

